{% extends "user/layout.html" %}

{% block content %}


<div class="row">
    <div class="col-md-4">
        <h1>cjlist</h1>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
    var param={
        'sign':'123',
        'page_size':30,
        'page_index':2,
        'search_condition':JSON.stringify(['恒大']),
        'selected_condition':JSON.stringify(['hanyang'])
    }
    $.post('/api/v1/lianjia/',param,function(result){
        console.info(result)
    },'JSON')
</script>

{% endblock %}