{% extends "lianjia/layout.html" %} {% block content %} {% load staticfiles %}
<div class="container-fluid" id="myVue">
    <div class="row" style="padding-top: 30px; padding-bottom: 20px;">
        <div class="col-md-6">
            <select class="form-control" v-model="pageAction.selectedArea" v-on:change="selectChange('area')">
                <option value="000">选择地区</option>
                <option value="汉阳">汉阳</option>
                <option value="武昌">武昌</option>
                <option value="000">全部</option>
            </select>
        </div>
        <div class="col-md-6">
            <form class="form-inline pull-right">
                <div class="form-group">
                    <input type="text" class="form-control" id="videoName" placeholder="标题" v-model="pageAction.searchTitle">
                </div>
                <button type="button" id="btnVideo" class="btn btn-default" v-on:click="toSearch('title')">
                搜索</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    数据 共 ${totalCount} 条 ${pageCount}页</div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-hover table-responsive">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 60px;" v-on:click="trCheckBoxAll">
                                    <a>
                                        <img src="{% static 'lianjia/images/icon/checkbox-1.png' %}" v-if="checkboxAll" />
                                        <img src="{% static 'lianjia/images/icon/checkbox-0.png' %}" v-else />
                                </th>
                                <th class="text-center">
                                    标题
                                </th>
                                <th class="text-center">
                                    位置
                                </th>
                                <th class="text-center">
                                    面积
                                </th>
                                <th class="text-center">
                                    成交价格
                                </th>
                                <th class="text-center">
                                    单价
                                </th>
                                <th class="text-center">
                                    成交日期
                                </th>
                                <th class="text-center">
                                    描述
                                </th>
                                <th>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in data" v-bind:key="item.fields.url">
                                <th class="text-center" style="width: 60px;" v-on:click="trCheckBox(item.fields.url)">
                                    <a>
                                        <img src="{% static 'lianjia/images/icon/checkbox-1.png' %}" v-if="checkboxList.indexOf(item.fields.url)>-1" />
                                        <img src="{% static 'lianjia/images/icon/checkbox-0.png' %}" v-else />
                                    </a>
                                </th>
                                <th>
                                    <a :href="item.fields.url" target="_blank" style="cursor: pointer">
                                        ${ item.fields.title }
                                    </a>
                                </th>
                                <th>
                                    ${ item.fields.houseArea }
                                </th>
                                <th>
                                    ${ item.fields.houseSize }
                                </th>
                                <th>
                                    ${ item.fields.dealPrice }
                                </th>
                                <th>
                                    ${ item.fields.unitPrice }
                                </th>
                                <th>
                                    ${ item.fields.dealDate }
                                </th>
                                <th>
                                    ${ item.fields.houseFlood }
                                </th>
                                <th class="text-center">
                                    <button type="button" id="Button2" class="btn btn-default btn-sm" style="margin: 4px;" v-on:click="showPop('show',item.fields.url)">
                                        查看</button>
                                    <button type="button" id="Button3" class="btn btn-info btn-sm" style="margin: 4px;" v-on:click="showPop('update',item.fields.url)">
                                        编辑</button>
                                    <button type="button" id="Button4" class="btn btn-danger btn-sm" style="margin: 4px;">
                                        删除</button>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-inline pull-right" style="display: inline-block; padding-top: 20px;
                            padding-left: 10px;">
                                <div class="form-group">
                                    <input type="number" class="form-control" style="width: 60px;" v-model="pageAction.toPageIndex"> 页
                                </div>
                                <button type="button" id="Button1" class="btn btn-default" v-on:click="toPage('toPage',0)">
                                跳转</button>
                            </form>
                            <ul class="pagination pull-right">
                                <li><a href="#" aria-label="FirstPage" v-on:click="toPage('FirstPage',0)"><span aria-hidden="true">
                                    第一页</span> </a></li>
                                <li><a href="#" aria-label="Previous"><span aria-hidden="true" v-on:click="toPage('Previous',0)">
                                    上一页</span> </a></li>
                                <li v-for="item in pageNumberList"><a v-on:click="toPage('number',item)" v-if="item==page.pageIndex" v-bind:style="{backgroundColor:'#ccc'}">${item}</a> <a v-on:click="toPage('number',item)" v-else>${item}</a> </li>
                                <li><a href="#" aria-label="Next"><span aria-hidden="true" v-on:click="toPage('Next',0)">
                                    下一页</span> </a></li>
                                <li><a href="#" aria-label="LastPage"><span aria-hidden="true" v-on:click="toPage('LastPage',0)">
                                    最后一页</span> </a></li>
                            </ul>
                            <div class="pull-right" style="display: inline-block; padding-top: 20px; padding-right: 10px;">
                                <select class="form-control " v-model="pageAction.selectedPageSize" v-on:change="selectChange('pageSize')">
                                    <option value="20">选择分页大小</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    查看内容-->
    <div class="modal fade" id="showModalLabel" tabindex="-1" role="dialog" aria-labelledby="showModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;</button>
                    <h4 class="modal-title" id="myModalLabel">
                        查看内容</h4>
                </div>
                <div class="modal-body">
                    在这里添加一些文本</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭</button>
                    <button type="button" class="btn btn-primary">
                        提交更改</button>
                </div>
            </div>
        </div>
    </div>
    <!--    修改内容- -->
    <div class="modal fade" id="updateModalLabel" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;</button>
                    <h4 class="modal-title" id="H1">
                        修改内容</h4>
                </div>
                <div class="modal-body">
                    在这里添加一些文本</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        关闭</button>
                    <button type="button" class="btn btn-primary">
                        提交更改</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block scripts %} {% load staticfiles %}
<script src="{% static 'lianjia/scripts/vue.js' %}"></script>
<script type="text/javascript">
    // 获取数据api
    var url_getdata = "/api/v1/lianjia/"
        // 分页对象
    var pagination = {
        pageSize: 20, //分页大小
        pageIndex: 1, //当前页，从1开始
        dropCondition: [], //下拉选择条件
        searchCondition: [] //搜索条件
    }
    var myvue = new Vue({
        delimiters: ['${', '}'],
        el: "#myVue",
        data: {
            title: '成交数据',
            page: pagination, // 传递数据接口的风分页对象
            totalCount: 0, // 数据总数
            pageCount: 0, //分页数量
            data: [], // 数据列表
            pageNumberList: [1], // 数据页码展示列表
            checkboxList: [], // 数据选择列表
            checkboxAll: false,
            url: 'https://vuejs.bootcss.com/v2/guide/syntax.html',
            pageAction: {
                selectedArea: "000",
                searchTitle: '',
                selectedPageSize: 20,
                toPageIndex: 1,
            }
        },
        created: function() {
            var self = this;

            self.page.dropCondition.push(self.pageAction.selectedArea);

            self.page.searchCondition.push(self.pageAction.searchTitle);

            self.getData();

        },
        methods: {
            getData: function() {
                var self = this;
                var postData = {};
                var dropCon = self.page.dropCondition;
                var searchCon = self.page.searchCondition;
                postData["sign"] = '123';
                postData["page_size"] = self.page.pageSize;
                postData["page_index"] = self.page.pageIndex;
                postData["selected_condition"] = JSON.stringify(dropCon);
                postData["search_condition"] = JSON.stringify(searchCon);

                $.post(url_getdata, postData, function(result) {
                    console.info(result);
                    var code = result["error_code"];
                    if (code == 0) {
                        self.data = JSON.parse(result["dataList"]);
                        self.totalCount = result["totalCount"];
                        self.pageCount = result["pageNumber"];
                        self.page.pageIndex = parseInt(self.page.pageIndex);
                        self.pageCount = parseInt(self.pageCount);
                        if (self.page.pageIndex + 4 < self.pageCount) {
                            self.pageNumberList = [];
                            for (var i = self.page.pageIndex; i <= self.page.pageIndex + 4; i++) {
                                self.pageNumberList.push(i);
                            }
                        } else {
                            self.pageNumberList = [];
                            if (self.pageCount >= 5) {
                                for (var i = self.pageCount - 4; i <= self.pageCount; i++) {
                                    self.pageNumberList.push(i);
                                }
                            } else {
                                for (var i = 1; i <= self.pageCount; i++) {
                                    self.pageNumberList.push(i);
                                }
                            }
                        }
                    }
                }, 'JSON')
            },
            toPage: function(action, num) { //页面跳转事件
                console.info(action);
                var self = this;
                if (action == "toPage") {
                    if (self.pageAction.toPageIndex > self.pageCount) {
                        self.pageAction.toPageIndex = self.pageCount;
                    }

                    self.page.pageIndex = self.pageAction.toPageIndex;
                }
                if (action == "FirstPage") {
                    self.page.pageIndex = 1;
                }
                if (action == "Previous") {
                    if (self.page.pageIndex > 1) {
                        self.page.pageIndex--;
                    }
                }
                if (action == "Next") {
                    if (self.page.pageIndex < self.pageCount) {
                        self.page.pageIndex++;
                    }
                }
                if (action == "LastPage") {
                    self.page.pageIndex = self.pageCount;
                }
                if (action == "number") {
                    self.page.pageIndex = parseInt(num);
                }

                self.getData();

            },
            toSearch: function(action) { //搜索事件
                console.info(action);
                var self = this;
                if (action == "title") {
                    self.page.searchCondition[0] = self.pageAction.searchTitle;
                }

                self.getData();
            },
            selectChange: function(action) { // 下拉选择变化事件
                console.info(action);
                var self = this;
                if (action == "area") {
                    self.page.dropCondition[0] = self.pageAction.selectedArea;
                }
                if (action == "pageSize") {
                    self.page.pageSize = self.pageAction.selectedPageSize;
                }

                self.getData();
            },
            trCheckBox: function(id) { // 单条数据选择/取消
                var self = this;
                if (self.checkboxList.indexOf(id) > -1) {
                    self.checkboxList.splice(self.checkboxList.indexOf(id), 1)
                } else {
                    self.checkboxList.push(id);
                }
            },
            trCheckBoxAll: function() { // 数据全部选择/取消
                var self = this;
                self.checkboxAll = !self.checkboxAll;
                if (self.checkboxAll) {
                    self.checkboxList = [];
                    $.each(self.data, function(index, item) {
                        self.checkboxList.push(item.fields.url);
                    })
                } else {
                    self.checkboxList = [];
                }

            },
            showPop: function(action, id) { // 展示弹窗
                var self = this;
                if (action == "show") {
                    $('#showModalLabel').modal();
                }
                if (action == "update") {
                    $('#updateModalLabel').modal();
                }

            }
        }
    })
</script>

{% endblock %}