<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} -Django</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'lianjia/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'lianjia/content/site.css' %}" />
    <script src="{% static 'lianjia/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/lianjia/" class="navbar-brand">Application name</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    {% if request.session.is_login%}
                    <li><span>{{ request.session.user_name }}</span></li>
                    <li><a href="{% url 'logout' %}">注销</a></li>
                    {% esle %}
                    <li><a href="{% url 'login' %}">登录</a></li>
                    <li><a href="{% url 'register' %}">注册</a></li>
                    {% endif %}
                </ul>
                <!--{% include 'user/loginpartial.html' %}-->
            </div>
        </div>
    </div>
    <div class="body-content">
        {% block content %}{% endblock %}
        <hr/>
        <footer>
            <p>&copy; {{ year }} - My Django Application</p>
        </footer>
    </div>

    <script src="{% static 'lianjia/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'lianjia/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'lianjia/scripts/respond.js' %}"></script>
    {% block scripts %}{% endblock %}

</body>

</html>