<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}} -Django</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'lianjia/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'lianjia/content/site.css' %}" />
    <script src="{% static 'lianjia/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="{% static 'lianjia/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'lianjia/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'lianjia/scripts/respond.js' %}"></script>
    <script src="{% static 'lianjia/scripts/vue.js' %}"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div id="registVue">
                <h1 class="text-center">用户注册</h1>
                {% if message %}
                <p>{{message}}</p>
                {% endif %}
                <form class="form-horizontal">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="inputUserName" class="control-label">账号</label>
                        <div>
                            <input type="text" class="form-control" id="inputUserName" placeholder="账号" v-model='username'>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputNickName" class="control-label">用户名</label>
                        <div>
                            <input type="text" class="form-control" id="inputNickName" placeholder="用户名" v-model='nickname'>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="control-label">密码</label>
                        <div>
                            <input type="password" class="form-control center-block" id="inputPassword" placeholder="密码" v-model='password'>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword2" class="control-label">确认密码</label>
                        <div>
                            <input type="password" class="form-control center-block" id="inputPassword2" placeholder="确认密码" v-model='password2'>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <button type="button" class="btn btn-default" v-on:click='registSubmit'>注 册</button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-default" v-on:click='login'>登 录</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var loginVue = new Vue({
            delimiters: ['${', '}'],
            el: '#registVue',
            data: {
                username: null,
                nickname: null,
                password: null,
                password2: null,
                isCanSubmit: true
            },
            methods: {
                registSubmit: function() {
                    var self = this;
                    if (self.username == '' || self.username == null || self.username == undefined) {
                        alert('请检查填写的内容！');
                        return
                    }
                    if (self.nickname == '' || self.nickname == null || self.nickname == undefined) {
                        alert('请检查填写的内容！');
                        return
                    }
                    if (self.password == '' || self.password == null || self.password == undefined) {
                        alert('请检查填写的内容！');
                        return
                    }
                    postData = {}
                    postData['username'] = self.username;
                    postData['nickname'] = self.nickname;
                    postData['password'] = self.password;
                    postData['csrfmiddlewaretoken'] = $("input[name='csrfmiddlewaretoken']").val();
                    $.post("{% url 'register' %}", postData, function(result) {
                        console.info(result);

                    }, 'JSON')
                },
                login: function() {
                    window.location.href = "{% url 'login' %}"
                }
            },
        })
    </script>
</body>

</html>