<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加用户</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'user/content/site.css' %}" />
    <script src="{% static 'user/scripts/modernizr-2.6.2.js' %}"></script>

</head>
<body>
    <div class="container">
        <form action="/api/v1/user/" class="form-horizontal" method="post">
            <div class="form-group">
                <label for="token" class="col-sm-2 control-label">token</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="token" name="token" placeholder="token">
                </div>
            </div>
            <div class="form-group">
                <label for="user_guid" class="col-sm-2 control-label">用户Guid</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="user_guid" name="user_guid" placeholder="用户Guid">
                </div>
            </div>
            <div class="form-group">
                <label for="user_name" class="col-sm-2 control-label">昵称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="user_name" name="user_name" placeholder="昵称">
                </div>
            </div>
            <div class="form-group">
                <label for="real_name" class="col-sm-2 control-label">姓名</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="real_name" name="real_name" placeholder="姓名">
                </div>
            </div>
            <div class="form-group">
                <label for="mobile" class="col-sm-2 control-label">手机号</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="mobile" name="mobile" placeholder="手机号">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">添加</button>
                </div>
            </div>
        </form>
    </div>

    <script src="{% static 'user/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'user/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'user/scripts/respond.js' %}"></script>
</body>
</html>